*{
    font-family: Montserrat;
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

.containt{
    margin: 0rem 9rem 0rem 9rem;
}

/*Barra principal*/
.navbar{
    background: #02A28F;
    padding: 1rem 9.7rem 1rem 9.7rem;
}

.text-navbar{
    top: 0.8rem;
    left: 9.7rem;
    font-size: 2.2rem;
    line-height: 2.7rem;
    text-align: left;
    color: #ffffff;
}

.title-section{
    background: #02A28F;
    color: #FFFFFF;
    width: 21.2rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    gap: 0.6rem;
    border-radius: 0.6rem;
    margin-top: 0.6rem;
}

.flex{
    display: flex;
    padding: 1.5rem 0rem 0rem 0rem;
    gap: 0.6rem;
    border-radius: 0.6rem 0rem 0rem 0rem;
    margin-bottom: -1.5rem;
}

.article-aside-card{
    display: flex;
    flex-direction:row;
    box-shadow: 0rem 0.6rem 0.4rem -0.1rem rgb(225, 224, 224);
    border-radius: 0.6rem;
    margin-top: 1.4rem;
    padding: 0.6rem;
}

div{
    margin-left: 0.6rem;
}

#text-aside-card{
    font-size: 0.7rem;
    color: #616161; 
    margin-top: 0.3rem;
}

label{
    display: flex;
    justify-content: space-between;
    color: #616161;
}

.text-aside-card1{
    margin-top: 0.8rem;
}

.flex-1{
    display: flex;
    gap: 1.8rem;
    margin-bottom: 4rem;
    margin-left: 1.2rem;
    padding: 0rem;
}

.banner-article-1{
    width: 46.5rem;
    margin-top: 0.6rem;
}

.titleAndText{
    display: flex;
    flex-direction: row;
    background: #02A28F;
    color: #FFFFFF;
    width: 46.5rem;
    height: 3.5rem;
    margin-left: 0rem;
    border-radius: 0.6rem; 
}

.title-section-1{
    margin:1rem 0rem 1rem 1.5rem
}

a{
    color: #FFFFFF;
    margin: 1rem 0rem 1rem 26.8rem
}

.card{
    width: 360px;
    margin-top: 11px;
    border-radius: 1rem;
    box-shadow: 0.06rem 0.06rem 1.5rem  rgb(225, 224, 224);
    margin-bottom: 0.6rem; 
}

.card-1{
    margin: 0.6rem 0rem 0rem 1rem;
}

.colory{
    color: #616161;
    font-size: 0.8rem;
}

.bottom{ 
    margin-bottom: 1rem;
}

#colory-1{
    color: #02A28F;
}

.section-card{
    display: flex;
    gap: 1.5rem;
    margin: 0rem;
}

/* Rodapé */
.foot{
    background: #02A28F;
    padding: 1rem 39.8rem 1rem 39.8rem;
}

.text-foot{
    color: #FFFFFF;
 }


/*Responsividade para telefone*/
@media screen and (max-width: 767px) {

    .text-navbar{
        font-size: 1.7rem;
        text-align: center;
    }

    .img-banner, .banner-article{
        width: 75vw;
    }
    
     .flex{
        display: block;
        margin-right: 6.2rem;
    }

    .flex-1{
        display: block;
        margin-top: 1.5rem;
    }

    .section-card{
        display: block;
    }

    .containt{
        
        margin: 0rem;
    }   

    a{
        color: #FFFFFF;
        margin: 1rem 0rem 1rem 3.5rem
    }
    
    .titleAndText{
        width: 23rem;      
    }

    .aside-card{
        width: 75vw;
        margin-left: 0.6rem;
    }

    .title-section{
      
        color: #FFFFFF;
        width: 21.2rem;
    }

    .foot{
        padding: 0rem;
    }

    .text-foot{
        text-align: center;
        padding: 0.5rem 0rem 0.5rem 0rem;
    
    }
}